.homepage-container {
    padding: 2rem;
}

.header {
    width: 100%;
    gap: 1rem;
}

.homepage-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.homepage-container p {
    font-size: 1.2rem;
    color: #666;
}

.bullcrux-icon {
    min-width: 46px;
    min-height: 46px;
    max-width: 46px;
    max-height: 46px;
    background-color: #94FF31;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullcrux-icon img {
    cursor: pointer;
    transition: opacity 0.2s;
}

.bullcrux-icon img:hover {
    opacity: 0.7;
}

.search-input {
    min-width: 38px;
    min-height: 38px;
    max-width: 38px;
    max-height: 38px;
    min-width: 38px;
    min-height: 38px;
    background-color: #E8E8E8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}